<%- include('../includes/head.ejs', { title: 'Login' }) %>
<%- include('../includes/navigation.ejs') %>
    <section class="bg-white page-title-container container-xxl">
        <div class="py-5">
            <h1 class="text-center">Login</h1>
        </div>
    </section>
    <section class="bg-white page-main-container container-fixed-xxl mx-auto">
        <% if (hasError) { %>
            <%= errorMessage %>
        <% } %>
        <form action="/login" method="POST">
            <div class="row">
                <div class="col-12">
                    <div class="form-group <%= formHelper.hasError('email') ? 'has-error' : '' %>">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="email" value="<%= formHelper.old('email') %>">
                        <%- include('../includes/form-error', { name: 'email' }) %>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group <%= formHelper.hasError('password') ? 'has-error' : '' %>">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" value="<%= formHelper.old('password') %>">
                        <%- include('../includes/form-error', { name: 'password' }) %>
                    </div>
                </div>
            </div>
            <div class="form-btn-container">
                <button class="btn btn-pink btn-pink-hover" type="submit">Login</button>
            </div>
        </form>
    </section>
<%- include('../includes/footer.ejs') %>