<div class="single-product">
    <div class="single-product-image">
        <img src="/<%= product.getImage() %>" class="card-img-top" alt="<%= product.name %>">
    </div>
    <div class="single-product-body">
        <h5><%= product.name %></h5>
        <div class="price-tag">
            <span class="price">$ <%= product.price %></span>
        </div>
        <div class="summary">
            <p><%= product.summary %></p>
        </div>
        <form method="POST" action="/cart/add">
            <input type="hidden" name="product_id" value="<%= product._id %>" />
            <button class="btn btn-sm btn-dark btn-purchase">Add to cart</button>
        </form>
    </div>
</div>