<%- include('../includes/head.ejs', { title: 'Create category' }) %>
<%- include('../includes/navigation.ejs') %>
    <section class="bg-white page-title-container container-xxl box-shadow box-radius-bottom">
        <div class="py-5">
            <h1 class="text-center">Add category</h1>
        </div>
    </section>
    <section class="bg-white page-main-container container-xxl box-shadow box-radius">
        <form action="/categories" method="POST" novalidate>
            <div class="row">
                <div class="col-6">
                    <div class="form-group <%= formHelper.hasError('name') ? 'has-error' : '' %>">
                        <label for="category-name">Name of category</label>
                        <input type="text" name="name" class="form-control" id="category-name" value="<%= formHelper.old('name') %>">
                        <%- include('../includes/form-error', { name: 'name' }) %>
                    </div>
                </div>
            </div>
            <div class="form-btn-container">
                <button class="btn btn-pink btn-pink-hover" type="submit">Create</button>
            </div>
        </form>
    </section>
<%- include('../includes/footer.ejs') %>